<h1>Donors</h1>

<%= link_to 'New Donor', new_donor_path, class: "button" %>
<%= link_to 'Back', donations_path, class: "button" %>

<p>
<ul>
  <% @donors.each do |donor| %>
    <li><%= link_to donor.name, donor %> | (<%= donor.organizations.count%>)</li>
  <% end %>
</ul>
</p>

<%= will_paginate %>
