<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :donor %><br>
    <%= f.select :donor_id, options_for_select(@donors.map{ |donor| [donor.name, donor.id]} ) %>
  </div>

  <div class="field">
    <%= f.label :organization %><br>
    <%= f.select :organization_id, options_for_select(@organizations.map{|organization| [organization.name, organization.id]} ) %>
  </div>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
