<%= link_to 'New Donation', new_donation_path(@donation) %>

<h2>Recent donations:</h2>

<% @donations.each do |donation| %>
  <ul>
    <li><%= donation.donor.name %> to <%= donation.organization.name %> in the amount of $<%= donation.amount %> on <%= donation.date %>.</li>
  </ul>
<% end %>
