<%= link_to 'New Donation', new_donation_path(@donation), class: "button", id: "new_donation_link", remote: true %>

<h2>Recent donations:</h2>

<% @donations.each do |donation| %>
  <ul class="money">
  <% unless donation.donor == nil || donation.organization == nil %>
    <li class="money"><%= link_to donation.donor.name, donor_path(donation.donor.id) %> to <%= link_to donation.organization.name, organization_path(donation.organization.id) %> in the amount of $<%= link_to donation.amount, donation_path(donation.id)%> on <%= donation.date.strftime("%m/%d/%Y") %>.</li>
  <% end %>
  </ul>
<% end %>

