<h1>Organizations</h1>

<%= link_to 'New Organization', new_organization_path, class: "button" %>
<%= link_to 'Back', organizations_path, class: "button" %>

<p>
  <ul>
    <% @organizations.each do |organization| %>
      <li><%= link_to organization.name, organization %> | (<%= organization.donors.count%>)</li>
    <% end %>
  </ul>
</p>

<%= will_paginate %>
